body {
  background-color: #fdfcfa;
  margin: 0;
}
#header {
  width: 100%;
}
.headerContainer {
}
.navItem:hover {
  cursor: pointer;
}
.dropdown {
  display: none;
}
#mainContent {
  margin: 50px 200px 0 200px;
}

@media screen and (max-width: 800px) {
  #mainContent {
    margin: 25px 30px 0 30px;
  }
  .menuIcon {
    text-align: right;
  }
  .dropdown {
    /* display: none; */
    /* display: flex;
    flex-direction: column;
    background-color: #ff971d;
    text-align: right;
    border-radius: 0 0 5px 5px;
    padding: 0 20px;
    z-index: 1;
    position: absolute;
    top: 55px;
    right: 0; */

    display: flex;
    flex-direction: column;
    text-align: right;
    opacity: 0;
    max-height: 0px;
    transition: 0.2s;
  }
  .dropdown.open {
    opacity: 1;
    max-height: 999px;
    height: auto;
  }
  .menuLink {
    margin-bottom: 10px;
  }
}
