/* Styles for the index page */

/* Styles for large screen size */
body {
  background-color: #fdfcfa;
  margin: 0;
}
.dropdown {
  display: none;
}
#mainContent {
  margin: 50px 200px 0 200px;
}
.compositionImage {
  width: 100%;
  border-radius: 10px;
}
.homeContent {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 30px;
  text-align: justify;
}
.homeContentTopics {
  font-size: 20px;
  margin-top: 40px;
}
.homeContentDescription {
  line-height: 24px;
}

/* Styles for small screen size */
@media screen and (max-width: 800px) {
  #mainContent {
    margin: 25px 30px 0 30px;
  }
  .dropdown {
    background: #ff971d;
    display: flex;
    flex-direction: column;
    text-align: right;
    opacity: 0;
    max-height: 0px;
    transition: 0.2s;
    z-index: 2;
    padding-right: 30px;
  }
  .dropdown.open {
    opacity: 1;
    max-height: 999px;
    height: auto;
  }
  .menuLink {
    margin-bottom: 10px;
    color: #7c2020;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  .menuLink:hover {
    text-decoration: underline;
  }
  .homeContent {
    font-size: 14px;
  }
  .homeContentTopics {
    font-size: 16px;
    margin-top: 40px;
  }
}
