/* Navigation Bar style */

/* Styles for large screen size */
.navigationBarContainer {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #ff971d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navItem > a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #7c2020;
  margin: 0;
  text-decoration: none;
}

/* The navigation bar collapses into the menu button and hence is not visible in small screen size. */
@media screen and (max-width: 800px) {
  .navigationBarContainer {
    display: none;
  }
}
